@font-face {
  font-family: "Sans-400";
  src: url(../fonts/PT_Sans/PTSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Sans-700";
  src: url(../fonts/PT_Sans/PTSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Serif-400";
  src: url(../fonts/PT_Serif/PTSerif-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Serif-700";
  src: url(../fonts/PT_Serif/PTSerif-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  background: #fff;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
button:focus,
input:focus,
textarea {
  outline: none;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  /* HEADER TOP END */
}

.header-top {
  background: #1B1B1B;
}

.header-top .header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top .header__wrapper .fa-bars {
  display: none;
}

.header-top .header__wrapper .text {
  font-size: 15px;
  line-height: 20px;
  font-family: "Serif-400";
  font-weight: 400;
  color: #818181;
  padding: 15px 0;
}

.header-top .header__wrapper .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 10px 0;
}

.header-top .header__wrapper .social .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
}

.header-top .header__wrapper .social .tel span {
  padding: 0 5px 0 10px;
}

.header-top .header__wrapper .social .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding-left: 50px;
}

.header-top .header__wrapper .social .email span {
  font-size: 15px;
  padding-left: 10px;
}

.header-nav {
  background: url(../images/headerbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25px;
}

.header-nav .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-nav .top .title {
  padding: 18px 0 6px;
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #fff;
}

.header .list {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .list ul li a {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  padding: 0 10px;
}

.header .list ul li a:hover {
  font-family: "Sans-700";
  font-weight: 700;
  position: relative;
}

.header .list ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 90%;
  height: 3px;
  border-radius: 20px;
  background: #FD858C;
  -webkit-transform: translate(5%);
  -ms-transform: translate(5%);
  transform: translate(5%);
}

.footer {
  background: url(../images/headerbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}

.footer__wrapper {
  text-align: center;
}

.footer__wrapper .icons {
  text-align: right;
  padding-right: 145px;
}

.footer__wrapper .icons .link {
  font-size: 25px;
  color: #fff;
  padding-left: 20px;
}

.footer__wrapper .menu .title {
  padding-bottom: 20px;
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #fff;
}

.footer__wrapper .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__wrapper .menu .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__wrapper .menu .list ul li a {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  padding: 0 10px;
}

.footer__wrapper .menu .list ul li a:hover {
  font-family: "Sans-700";
  font-weight: 700;
  position: relative;
}

.footer__wrapper .menu .list ul li a:hover::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 90%;
  height: 3px;
  border-radius: 20px;
  background: #FD858C;
  -webkit-transform: translate(5%);
  -ms-transform: translate(5%);
  transform: translate(5%);
}

.footer__wrapper .menu .list .fa-chevron-right {
  font-size: 20px;
  color: #818181;
}

.footer__wrapper .menu .text {
  padding-top: 50px;
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #757575;
}

.about-product {
  width: 100%;
}

.about-product__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-product__wrapper .about-product__full {
  width: 58%;
}

.about-product__wrapper .about-product__full .about-product__img {
  width: 100%;
  margin: 100px 0;
}

.about-product__wrapper .about-product__full .about-product__img .about-product__main-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-product__wrapper .about-product__full .about-product__img .about-product__main-img img {
  width: 620px;
  height: 620px;
}

.about-product__wrapper .about-product__full .about-product__img .about-product__small-img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.about-product__wrapper .about-product__full .about-product__img .about-product__small-img img {
  height: 142px;
  width: 142px;
  margin: 0 10px;
}

.about-product__wrapper .about-product__full .about-product__img .about-product__small-img img:hover {
  border: 3px solid #F9768E;
  border-radius: 10px;
}

.about-product__wrapper .about-product__full .about-product__text {
  width: 100%;
}

.about-product__wrapper .about-product__full .about-product__text h3 {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #0B0B0B;
}

.about-product__wrapper .about-product__full .about-product__text .about-product__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0;
}

.about-product__wrapper .about-product__full .about-product__text .about-product__item img {
  width: 142px;
  height: 142px;
}

.about-product__wrapper .about-product__full .about-product__text .about-product__item p {
  width: 65%;
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.about-product__wrapper .about-product__cards-block {
  width: 40%;
}

.about-product__wrapper .about-product__cards-block .cards-block__title {
  margin: 100px 0;
}

.about-product__wrapper .about-product__cards-block .cards-block__title h3 {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #0B0B0B;
  padding-bottom: 20px;
}

.about-product__wrapper .about-product__cards-block .cards-block__title h3 p {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.about-product__wrapper .about-product__cards-block .card-block__card {
  width: 100%;
  padding: 10px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), -2px -2px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), -2px -2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-product__wrapper .about-product__cards-block .card-block__card h3 {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #0B0B0B;
  text-align: center;
}

.about-product__wrapper .about-product__cards-block .card-block__card .card__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
}

.about-product__wrapper .about-product__cards-block .card-block__card .card__info img {
  width: 130px;
  height: 130px;
}

.about-product__wrapper .about-product__cards-block .card-block__card .card__info p {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  color: #000000;
}

.about-product__wrapper .about-product__cards-block .card-block__card a {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 3px 18px;
  margin: 20px auto;
  background: -webkit-gradient(linear, left top, right top, from(#F78CA0), color-stop(19%, #F9748F), color-stop(60%, #FD868C));
  background: -o-linear-gradient(left, #F78CA0 0%, #F9748F 19%, #FD868C 60%);
  background: linear-gradient(90deg, #F78CA0 0%, #F9748F 19%, #FD868C 60%);
  border-radius: 10px;
}

.about-product__wrapper .about-product__cards-block .card-block__card a i {
  font-size: 14px;
  padding-left: 6px;
}

.characteristics {
  width: 100%;
}

.characteristics h2 {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #0B0B0B;
  padding: 30px 0;
}

.characteristics__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.characteristics__wrapper .character__item {
  width: 48%;
  margin: 25px 0;
}

.characteristics__wrapper .character__item h3 {
  font-family: "Sans-700";
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #000;
}

.characteristics__wrapper .character__item .character__info {
  border-bottom: 1px solid #C6C6C6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Sans-400";
  font-weight: 400;
  margin-top: 20px;
}

.characteristics__wrapper .character__item .character__info .info__type {
  font-size: 15px;
  line-height: 19px;
  color: #818181;
}

.characteristics__wrapper .character__item .character__info .info__text {
  font-size: 15px;
  line-height: 19px;
  color: #000;
}

.section__menu {
  width: 100%;
}

.section__menu .menu__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 0;
}

.section__menu .menu__wrapper .category-list {
  width: 255px;
  color: #000000;
}

.section__menu .menu__wrapper .category-list .title a {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.section__menu .menu__wrapper .category-list .title a span {
  color: #818181;
}

.section__menu .menu__wrapper .category-list .title h2 {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  padding: 30px 0 5px;
}

.section__menu .menu__wrapper .category-list .title p {
  text-align: right;
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #818181;
}

.section__menu .menu__wrapper .category-list .list h3 {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 15px 0;
}

.section__menu .menu__wrapper .category-list .list ul li a {
  padding: 5px 0;
  font-size: 15px;
  line-height: 19px;
  color: #000;
}

.section__menu .menu__wrapper .category-list .list ul li a:hover {
  font-weight: 700;
}

.section__menu .menu__wrapper .category-list a {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #818181;
}

.section__menu .menu__wrapper .category-img {
  width: calc(100% - 315px);
}

.section__menu .menu__wrapper .category-img .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 150px 0 50px 0;
}

.section__menu .menu__wrapper .category-img .cards .item {
  padding: 27px 46px;
  background: #FFFFFF;
  -webkit-box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.1), 3px 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.1), 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 50px;
  text-align: center;
  -webkit-transition-property: scale();
  -o-transition-property: scale();
  transition-property: scale();
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.section__menu .menu__wrapper .category-img .cards .item img {
  width: 131px;
  height: 131px;
}

.section__menu .menu__wrapper .category-img .cards .item p {
  font-family: "Sans-700";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  padding: 10px 0;
}

.section__menu .menu__wrapper .category-img .cards .item span {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #818181;
}

.section__menu .menu__wrapper .category-img .cards .item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.section__menu .menu__wrapper .popular {
  width: 100%;
}

.section__menu .menu__wrapper .popular .site__title {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #232323;
  text-align: center;
  padding-bottom: 50px;
}

.section__menu .menu__wrapper .popular .cards {
  padding: 0;
}

.banner {
  width: 100%;
}

.banner__wrapper {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner__wrapper .ads {
  width: 48%;
  height: 100%;
  background: #C4C4C4;
  text-align: center;
  font-size: 40px;
  line-height: 300px;
  font-family: "Sans-700";
  font-weight: 700;
  color: #000;
}

.category .site__title {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #232323;
  text-align: center;
  padding: 100px 0 50px;
}

.category .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.category .categories .img {
  background: url(../../images/vector.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 225px;
  height: 130px;
  padding-top: 55px;
  padding-left: 10px;
  position: relative;
}

.category .categories .img p {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.category .categories .img img {
  position: absolute;
  top: -40%;
  right: -10%;
  max-width: 120px;
  max-height: 120px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1;
  flex: 0 0 1;
}

.products {
  width: 100%;
  margin: 100px 0;
}

.products .site__title {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #232323;
  text-align: center;
  padding-bottom: 50px;
}

.products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.products__wrapper .item {
  width: 223px;
  height: 296px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid transparent;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 700ms;
  -o-transition-duration: 700ms;
  transition-duration: 700ms;
}

.products__wrapper .item img {
  width: 100%;
  height: 150px;
}

.products__wrapper .item p {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #757575;
  padding: 10px 0;
}

.products__wrapper .item h3 {
  font-family: "Sans-700";
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.products__wrapper .item .marks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.products__wrapper .item .marks .stars {
  margin-right: 10px;
  color: #EFF267;
  font-size: 15px;
}

.products__wrapper .item .marks .reviews {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #757575;
}

.products__wrapper .item a {
  font-family: "Sans-400";
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 3px 18px;
  margin: 20px 0;
  background: -webkit-gradient(linear, left top, right top, from(#F78CA0), color-stop(19%, #F9748F), color-stop(60%, #FD868C));
  background: -o-linear-gradient(left, #F78CA0 0%, #F9748F 19%, #FD868C 60%);
  background: linear-gradient(90deg, #F78CA0 0%, #F9748F 19%, #FD868C 60%);
  border-radius: 10px;
}

.products__wrapper .item a i {
  font-size: 14px;
  padding-left: 6px;
}

.products__wrapper .item:hover {
  border: 1px solid #818181b2;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #818181;
  box-shadow: 0 0 10px #818181;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.products__wrapper .item:hover img {
  border-radius: 20px 20px 0 0;
}

.products .all {
  font-size: 18px;
  padding: 8px 25px;
  width: 120px;
  color: #fff;
  border-radius: 15px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#757575), to(#222020));
  background: -o-linear-gradient(left, #757575, #222020);
  background: linear-gradient(90deg, #757575, #222020);
}

.products .all:hover span {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(243, 240, 240, 0.315);
  bottom: -150px;
  left: -150px;
  border-radius: 50%;
  -webkit-animation: anim 700ms linear;
  animation: anim 700ms linear;
}

@-webkit-keyframes anim {
  100% {
    bottom: 50px;
    left: 150px;
  }
}

@keyframes anim {
  100% {
    bottom: 50px;
    left: 150px;
  }
}

.contact {
  background: #1B1B1B;
}

.contact h2 {
  font-family: "Serif-700";
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contact__wrapper form {
  width: 702px;
  font-family: "Serif-700";
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact__wrapper form input {
  width: 341px;
  border: 1px solid #FFFFFF;
  padding: 15px;
  font-size: 15px;
  color: #fff;
  background: #1B1B1B;
  font-family: "Serif-700";
  font-weight: 700;
}

.contact__wrapper form input[type=email] {
  width: 702px;
  margin: 40px 0;
}

.contact__wrapper form input::-webkit-input-placeholder,
.contact__wrapper form textarea::-webkit-input-placeholder {
  font-family: "Serif-700";
  font-weight: 700;
  color: #fff;
}

.contact__wrapper form input::-moz-placeholder,
.contact__wrapper form textarea::-moz-placeholder {
  font-family: "Serif-700";
  font-weight: 700;
  color: #fff;
}

.contact__wrapper form input:-ms-input-placeholder,
.contact__wrapper form textarea:-ms-input-placeholder {
  font-family: "Serif-700";
  font-weight: 700;
  color: #fff;
}

.contact__wrapper form input::-ms-input-placeholder,
.contact__wrapper form textarea::-ms-input-placeholder {
  font-family: "Serif-700";
  font-weight: 700;
  color: #fff;
}

.contact__wrapper form input::placeholder,
.contact__wrapper form textarea::placeholder {
  font-family: "Serif-700";
  font-weight: 700;
  color: #fff;
}

.contact__wrapper form textarea {
  width: 702px;
  background: #1B1B1B;
  border: 1px solid #FFFFFF;
  color: #fff;
  font-family: "Serif-700";
  font-weight: 700;
  padding: 15px;
  font-size: 15px;
  resize: none;
}

.contact__wrapper form button {
  margin: 40px 0 50px;
  padding: 12px 90px;
  font-size: 20px;
  font-family: "Sans-700";
  font-weight: 700;
  line-height: 26px;
  background: #FC818C;
  border-radius: 5px;
  color: #fff;
}

.contact__wrapper .info {
  padding: 25px;
  font-size: 22px;
  color: #fff;
}

.contact__wrapper .info .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 38px;
}

.contact__wrapper .info .social .link {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  padding-left: 25px;
}

body.hidden {
  overflow: hidden;
}

@media (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }

  .products__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .products__wrapper .item {
    margin: 10px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }

  .header-top .header__wrapper .social {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header-nav .top .title {
    font-size: 35px;
    padding: 18px 0 10px;
  }

  .footer__wrapper .icons {
    padding: 0;
  }

  .about-product__wrapper .about-product__full {
    width: 49%;
  }

  .about-product__wrapper .about-product__full .about-product__img .about-product__main-img img {
    width: 450px;
    height: 450px;
  }

  .about-product__wrapper .about-product__full .about-product__text .about-product__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-product__wrapper .about-product__full .about-product__text .about-product__item img {
    width: 125px;
    height: 125px;
  }

  .about-product__wrapper .about-product__full .about-product__text .about-product__item p {
    width: 100%;
  }

  .about-product__wrapper .about-product__cards-block {
    width: 49%;
  }

  .section__menu .menu__wrapper .category-img .cards .item {
    padding: 27px 39px;
  }

  .section__menu .menu__wrapper .category-img {
    width: calc(100% - 255px);
  }

  .banner__wrapper .ads {
    width: 100%;
  }

  .banner__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  .header-top .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    padding-top: 10px;
  }

  .header-top .header__wrapper .fa-bars {
    display: inline-block;
    color: #fff;
    font-size: 40px;
  }

  .header-top .header__wrapper .social .email {
    padding: 0 50px;
  }

  .header-nav .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .header-nav .top .title {
    padding: 18px 0 14px;
  }

  .header .list {
    display: none;
  }

  .footer__wrapper .menu .list ul li a {
    font-size: 16px;
    line-height: 20px;
  }

  .about-product__wrapper .about-product__full {
    width: 100%;
  }

  .about-product__wrapper .about-product__full .about-product__img {
    margin: 50px 0;
  }

  .about-product__wrapper .about-product__full .about-product__img .about-product__small-img {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .about-product__wrapper .about-product__full .about-product__img .about-product__small-img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about-product__wrapper .about-product__full .about-product__text h3 {
    text-align: center;
  }

  .about-product__wrapper .about-product__cards-block {
    display: none;
  }

  .characteristics__wrapper .character__item {
    width: 100%;
  }

  .contact__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }

  .footer__wrapper .menu .list ul li a {
    font-size: 14px;
  }

  .section__menu .menu__wrapper .category-list {
    display: none;
  }

  .section__menu .menu__wrapper .category-img {
    width: 100%;
  }

  .contact__wrapper form {
    width: 100%;
    display: block;
  }

  .contact__wrapper form input {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact__wrapper form input[type=email] {
    width: 100%;
    margin: 0 0 20px 0;
  }

  .contact__wrapper form textarea {
    width: 100%;
  }
}

@media (max-width: 757px) {
  .about-product__wrapper .about-product__full .about-product__img .about-product__main-img img {
    width: 350px;
    height: 350px;
  }

  .about-product__wrapper .about-product__full .about-product__img .about-product__main-img img {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .header-top .header__wrapper .social {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header-top .header__wrapper .social .tel {
    padding-left: 10px;
  }

  .header-top .header__wrapper .social .email {
    padding: 0 50px 0 10px;
  }

  .header-top .header__wrapper .social .fa-bars {
    padding-left: 10px;
  }

  .footer__wrapper .menu .title {
    font-size: 35px;
  }

  .footer__wrapper .menu .list ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__wrapper .menu .list ul li a {
    margin-bottom: 10px;
  }

  .about-product__wrapper .about-product__full .about-product__img .about-product__small-img img {
    height: 110px;
    width: 110px;
  }

  .section__menu .menu__wrapper .category-img .cards {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section__menu .menu__wrapper .category-img .cards .item {
    margin: 0 20px 50px;
  }
}